@font-face {
    font-family: MyriadLight;
    src: url('../fonts/Myriad_Pro_Light.ttf');
}
@font-face {
    font-family: MyriadRegular;
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: MyriadBold;
    src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face {
    font-family: MyriadSuperBold;
    src: url('../fonts/MyriadPro-Bold.otf');
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article, aside, div, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body {
  font-family: MyriadLight, Helvetica,Arial;
  height: 100%;
}
body {
	background: url('../img/fon.jpg');
	height: 100%;
	min-width: 1024px !important;
	color: rgb(71,70,66);
}
.container {
	height: 100%;
  	height: auto !important;
  	min-height: 100%;
  	min-width: 1024px;
}
.wrapper {
  min-height: 500px;
  min-width: 360px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 8px 8px 20px #555, -2px -2px 20px #888;
  position: relative;
  border: 1px solid rgb(167,167,167);
  border-bottom: none;
  padding-bottom: 200px;
}
.wrapper {
	zoom: 1;
}
@media screen and (max-width: 769px) {
	.container {
		padding: 0;
	}
}
/*header-----------------------------------------------*/
.phones_block {
	background-color: rgb(213,202,112);
	padding: 5px 0 10px 25px;
	font-size: 18px;
	color: #000;
	font-family: MyriadBold;
}
.phones_block p:first-child {
	text-transform: uppercase;
	font-size: 0.7em;
}
.phones_block p:nth-child(2) a {
	border-bottom: 1px solid rgb(89,84,52);
	font-size: 1.15em;
}
.phones_block a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.address {
	font-size: 13px;
	padding-top: 5px;
	text-align: right;
}
.address p:first-child {
	font-size: 1.3em;
}
.address p:first-child b {
	font-size: 1.1em;
}
header .address p:first-child b {
	font-size: 1.1em;
	font-weight: bold;
}
.address strong {
	color: rgb(71,70,68);
	font-weight: bold;
}
.address a {
	text-decoration: underline;
	color: rgb(0,84,190);
	font-weight: bolder;
}
.address a:hover {
	text-decoration: none;
}
.logo_container {
	overflow: hidden;
	padding-top: 10px;
}
.logo_container .first_logo {
	width: 80px;
	overflow: hidden;
	margin-right: 10px;
}
.logo_container .first_logo img {
	width: 100%;
}
.logo_container .second_logo {
	width: 227px;
	overflow: hidden;
}
.logo_container .second_logo img {
	width: 100%;
}
.link_schema:hover {
	cursor: pointer;
}
@media screen and (max-width: 995px) {
	.logo_container .first_logo {
		width: 60px;
	}
	.logo_container .second_logo {
		width: 170px;
		overflow: hidden;
	}
	.phones_block {
		padding: 5px 0 5px 5px;
		font-size: 15px;
	}
	.address {
		text-align: center;
	}
}

/*navigation--------------------------------------------*/
.navbar.navbar-default {
	border-radius: 0;
	background-color: rgb(74,64,66);
	border-color: rgb(55,54,52);
	border-bottom: none;
	font-family: MyriadBold;
}
.navbar.navbar-default .container-fluid,
.navbar.navbar-default .collapse.navbar-collapse {
	padding: 0;
}
.nav.navbar-nav li {
	border-bottom: 3px solid rgb(74,64,66);
	border-right: 1px solid rgb(54,50,49);
}
.nav.navbar-nav li a {
	color: rgb(249,249,211);
	font-size: 14px;
	transition: all 0.1s linear;
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus  {
	color: rgb(216,200,112);
}
.nav.navbar-nav .active {
	border-bottom-color: rgb(215,202,110);
}
.nav.navbar-nav .active a {
	background-color: rgb(61,57,56);
	color: rgb(246,243,210);
}
.nav.navbar-nav .active a:hover,
.nav.navbar-nav .active a:focus {
	background-color: rgb(61,57,56);
	color: rgb(249,249,211);
}
.nav.navbar-nav .caret {
	margin-left: 7px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgb(74,64,66);
}
.nav.navbar-nav .dropdown a:focus,
.nav.navbar-nav .dropdown a:hover {
	color: rgb(216,200,112);
}
.nav.navbar-nav .dropdown-menu {
	background-color: rgb(74,64,66);
	margin-top: 2px;
}
.nav.navbar-nav .dropdown-menu li:hover,
.nav.navbar-nav .dropdown-menu li a:hover {
	background-color: rgb(61,57,56);
	border-bottom-color: rgb(61,57,56);
}
.nav.navbar-nav .active .dropdown-menu a {
	background-color: rgb(74,64,66);
	border-bottom-color: rgb(61,57,56);
}
.nav.navbar-nav .active .dropdown-menu a:hover{
	background-color: rgb(61,57,56);
	border-bottom-color: rgb(61,57,56);
	color: rgb(216,200,112);
}
.nav.navbar-nav .active .dropdown-menu li:hover {
	border-bottom-color: rgb(74,64,66);
}

@media screen and (max-width: 769px) {
	.nav.navbar-nav {
		margin: 7px 25px;
	}
}

/*main page -----------------------------------------*/
.carousel.slide {
	margin: 30px;
}
.carousel-control.left,
.carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0,0) 100%)
}
.carousel-control.left span,
.carousel-control.right span {
	position: absolute;
	top: 50%;
	font-size: 50px;
}
.carousel-control.left span {
	left: 20px;
	opacity: 1;
}
.carousel-control.right span {
	right: 20px;
	opacity: 1;
}

.well.our_advantages,
.well.projects_done {
	background-color: #fff;
	border: none;
	box-shadow: none;
	padding-top: 0;
}
.well.projects_done a {
	color: rgb(72,71,67);
	transition: all 0.3s linear;
}
.well.projects_done a:hover {
	text-decoration: none;
	color: red;
}
.well.projects_done a:hover h2 {
}
.well.our_advantages h2 {
	color: rgb(72,71,67);
}
.image_wrapper_main_page {
	display: block;
	margin: 0 auto;
	background-color: rgb(217,217,217);
	width: 160px;
	height: 132px;
	overflow: hidden;
	padding-top: 32px;
}
.image_wrapper_main_page img {
	display: block;
	margin: 0 auto;
}
.image_wrapper_main_page:after {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 20px;
	left: 47%;
	border: 10px solid transparent;
	border-top-color: rgb(217,217,217);
}
.well.our_advantages .row .col-lg-3:last-child figure .image_wrapper_main_page {
	padding-top: 40px;
}
.well.our_advantages figcaption {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
}
.well.our_advantages figcaption span {
	font-size: 1.2em;
	color: rgb(213,202,112);
	transition: all 0.3s linear;
}
.image_wrapper_main_page:hover + figcaption span {
	color: red;
}
.label_main_page {
	position: absolute;
	top: 25px;
	right: 30%;
	display: block;
	background-color: rgb(212,201,111);
	padding: 3px 5px;
	border-radius: 5px;
	font-weight: bold;
}

.main_page_hr {
	width: 90%;
	margin: 0 auto;
}

.well.main_page_brands {
	background-color: #fff;
	border: none;
	box-shadow: none;
	padding-top: 0;
}
.well.main_page_brands h2 {
	margin-top: 50px;
}

.well.main_page_brands a {
	color: rgb(72,71,67);
	transition: all 0.3s linear;
}
.well.main_page_brands a:hover {
	text-decoration: none;
	color: red;
}



@media screen and (max-width: 769px) {
	.well.main_page_brands {
		margin-bottom: 60px;
	}
}

/*breadcrumbs-----------------------------------------*/
.breadcrumb {
	background-color: #fff;
	font-size: 14px;
}
.breadcrumb a {
	text-decoration: underline;
	color: rgb(0,86,189);
}
.breadcrumb .active span{
	color: #000;
	background-color: rgb(213,202,112);
	padding: 3px 5px;
}
.breadcrumb > li + li:before {
	content: ">";
	color: rgb(109,109,109);
}
/*O salone----------------------------------------------*/
.page_o_salone {
	padding: 10px 45px;
}
.article_img_wrapper {
	width: 40%;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	margin-right: 30px;
	padding-top: 20px;
}
.article_img_wrapper img {
	width: 100%;
}
.o_salone_article {
	padding: 10px 30px;
	color: rgb(71,70,66);
}
.o_salone_article h1 {
	font-family: MyriadBold;
}
.o_salone_article p {
	margin-bottom: 5px;
	text-align: justify;
}
.gallery.row {
	padding: 10px 30px;
}
.gallery.row .img_gallery_wrapper {
	width: 100%;
	overflow: hidden;
	height: 160px;
	margin-bottom: 10px;
}
.gallery.row .img_gallery_wrapper img {
	width: 100%;
	height: auto;
}

.coordinates .image_wrapper_document {
	display: block;
	margin: 0 auto;
	width: 260px;
	overflow: hidden;
}
.coordinates .image_wrapper_document img {
	width: 100%;
}
.coordinates address {
	display: block;
	margin: 0 auto;
	width: 65%;
	color: rgb(70,69,65);
	font-size: 19px;
}
.coordinates address  h2 {
	font-family: MyriadBold;
}
.coordinates address p {
	line-height: 1.4em;
}
.coordinates address strong {
	font-weight: bold;
}
.coordinates address a {
	color: rgb(70,69,65);
}
.coordinates address .links a {
	padding-right: 20px;
	display: inline-block;
	font-size: 0.8em;
	color: rgb(0,85,188);
	text-decoration: underline;
}
.coordinates address .time,
.coordinates address .weekend {
	font-size: 0.8em;
}
.coordinates address .weekend {
	margin-bottom: 20px;
}

/*o fabrike------------------------------------------------------*/
.page_o_fabrike {
	padding: 10px 45px;
}

.fabrik_img_wrapper {
	width: 40%;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
	margin-right: 30px;
	padding: 0;
}
.fabrik_img_wrapper img {
	width: 100%;
}

.o_fabrike_article {
	padding: 10px 30px;
	color: rgb(71,70,66);
}
.o_fabrike_article h1 {
	font-family: MyriadBold;
	margin-top: 0;
}
.o_fabrike_article p {
	margin-bottom: 10px;
	text-align: justify;
}
.page_o_fabrike .img_doc_wrapper {
	width: 100%;
	overflow: hidden;
}
.page_o_fabrike .img_doc_wrapper img {
	width: 100%;
}
/*where to buy---------------------------------------------*/
.coordinates.where_to_buy address {
	display: block;
	float: left;
	width: 100%;
	padding-left: 15px;
}
.coordinates.where_to_buy address h2 {
	margin-top: 0;
}
.input_group_where_to_buy {
	background-color: rgb(243,243,243);
	border: 1px solid rgb(224,224,224);
	width: 80%;
	display: block;
	margin: 0 auto;
}
.where_to_buy_inside_form {
	width: 90%;
	display: block;
	margin: 25px auto;
	color: rgb(71,70,66);
	background-color: #fff;
	border: 1px solid rgb(202,202,202);
	box-shadow: 3px 3px 15px #aaa, -3px -3px 15px #999;
}
.where_to_buy_inside_form h3 {
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 35px;
}
.where_to_buy_inside_form input,
.where_to_buy_inside_form textarea {
	width: 80%;
	display: block;
	margin: 0 auto;
	border-radius: 0;
	border-color: rgb(202,202,202);
}
.where_to_buy_inside_form input {
	height: 45px;
}
.where_to_buy_inside_form .btn {
	display: block;
	width: 70%;
	margin: 20px auto 45px;
	text-transform: uppercase;
	height: 53px;
	padding-right: 48px;
	background: url('../img/envelope.png')  90% center no-repeat;
	background-color: rgb(14,99,205);
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	font-family: MyriadBold;
}
.where_to_buy_inside_form .btn:hover {
  background-color: rgb(22,60,123);
}


.coordinates a[role="button"]:hover,
.coordinates .links a:hover {
	text-decoration: none;
}

.coordinates a[role="button"],
.coordinates a[role="button"]:focus,
.coordinates a[role="button"]:active,
.coordinates a {
	border: none;
	background-color: #fff;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	font-weight: bold;
}
/*ASIDE NAVIGATION-------------------------------------*/
.aside_navigation {
	display: block;
	margin: 0 auto;
	width: 90%;
	padding: 15px 0 0 15px;
	font-size: 15px;
}
.aside_navigation .btn_catalog {
	display: block;
	text-transform: uppercase;
	line-height: 35px;
	color: rgb(15,15,15);
	height: 35px;
	padding-left: 15px;
	position: relative;
	font-family: MyriadRegular;
}
.aside_navigation .btn_catalog:hover,
.list_nav .list-item a:hover {
	background-color: rgb(244,244,244);
	cursor: pointer;
}
.aside_navigation .btn_catalog.active {
	background-color: rgb(213,202,112);
	font-family: MyriadBold;
}
.aside_navigation .btn_catalog a {
	display: block;
	width: 100%;
}
.aside_navigation a {
	color: rgb(15,15,15);
}
.aside_navigation a:hover {
	text-decoration: none;
}
.list_nav {
	margin-top: 10px;
}
.list_nav .list-item{
	border: none;
	text-transform: uppercase;
	padding-left: 40px;
	
	font-family: MyriadRegular;
}
.list_nav .list-item a {
	padding: 3px 5px;
	margin: 7px 0;
	display: block;
}
.catalog_list {
	margin-top: 3px;
}
.aside_navigation .catalog_list .list-item.active a {
	background-color: rgb(213,202,112);
	font-family: MyriadBold;
	display: inline;
}
.aside_navigation .btn_catalog.discounts {
	background-color: rgb(209,39,39);
	width: 95px;
	height: 35px;
	margin-left: 7px;
	padding-left: 0;
	padding-top: 3px;
	font-family: MyriadBold;
}
.aside_navigation .btn_catalog.discounts a {
	display: block;
	width: 91px;
	height: 29px;
	margin: 0 auto;
	border: 1px dotted #fff;
	color: #fff;
	line-height: 29px;
	text-align: center;
}
.aside_navigation .btn_catalog.discounts a:hover,
.aside_navigation .btn_catalog.discounts a:focus,
.aside_navigation .btn_catalog.discounts:hover  {
	text-decoration: none;
	background-color: rgb(151,34,39);
}

.aside_navigation .btn_catalog.selling a{
	color: rgb(212,38,39);
	font-size: 15px;
	font-family: MyriadBold;
}
.aside_navigation .caret_span {
	position: absolute;
	right: 25px;
}
.caret_upside_down {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
	.aside_navigation .caret_span {
		position: absolute;
		right: 5px;
	}
}
/*kitchens-----------------------------------------------*/
.kitchens_page_list h2 {
	font-family: MyriadSuperBold;
	font-size: 40px;
	color: rgb(71,70,66);
}
.well.kitchens_row {
	background-color: #fff;
	border: none;
	box-shadow: none;
	border-left: 4px solid #fff;
	border-radius: 0;
	transition: all 0.3s linear;
	padding-left: 0;
}
.kitchens_row a {
	color: inherit;
}
.kitchens_row a:hover figcaption {
	text-decoration: underline;
}
.well.kitchens_row:hover {
	border-left-color: rgb(213,202,110);
	background-color: rgb(244,244,244);
}
.kitchens_row figure {
	float: left;
	margin: 0 10px;
	position: relative;
}
.kitchens_row .image_wrapper_product_line {
	width: 160px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s linear;
}
.kitchens_row .image_wrapper_product_line:hover {
	-moz-transform: scale(3,3);
    -ms-transform: scale(3,3);
    -webkit-transform: scale(3,3);
    -o-transform: scale(3,3);
    transform: scale(3,3);
    z-index: 333;
}
.kitchens_row .image_wrapper_product_line img {
	width: 100%;
}
.kitchens_row .label_pic {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 62px;
	overflow: hidden;
}
.kitchens_row .label_pic img {
	width: 100%;
}
.well.kitchens_row .row_name p {
	display: block;
	margin-top: 40px;
	text-transform: uppercase;
	font-size: 13px;
	background: url('../img/arrow_r_little.png')  100% 0%  no-repeat;
	padding-left: 5px;
}
.well.kitchens_row .row_name {
	padding: 0;
	font-family: MyriadRegular;
}
.row_pictures {
	padding-left: 0;
}
@media screen and (max-width: 1215px) {
	.well.kitchens_row .row_name p {
		display: block;
		height: 30px;
		line-height: 30px;
	}
}
@media screen and (max-width: 989px) {
	.kitchens_page_list {
		padding: 0 40px;
	}
}
/*one product page-------------------------------*/
.product_page .product_item_big_wrapper {
	width: 97%;
	height: 284px;
	overflow: hidden;
}
.product_page .product_item_big_wrapper img {
	min-width: 100%;
	width: auto;
	height: 100%;
}
.product_page h1 {
	margin-top: 0;
	font-family: MyriadLight;

}
.product_page p {
	font-size: 16px;
	line-height: 1.4em;
	margin-bottom: 4px;
}
.main_product_description strong {
	font-size: 1.1em;
	font-family: MyriadBold;
}
.product_page .main_price strong {
	font-size: 1.8em;
	font-family: MyriadSuperBold;
}
.product_page .main_price {
	margin: 15px 0;
}
.main_product_description {
	padding-right: 35px;
}
.product_page.seats {
	margin-bottom: 180px;
} 


.additional_products {
	margin-top: 30px;
	border-bottom: 1px solid rgb(102,102,102);
	margin-right: 45px;
	padding-bottom: 20px;
	margin-left: 0px;
}
.additional_products .img_wrapper_little_item {
	width: 150px;
	overflow: hidden;
	float: left;
	display: block;
	margin-left: 20px;
	margin-top: 20px;
}

.additional_products .img_wrapper_little_item img {
	width: 100%;
}
.additional_products_row_1,
.additional_products_row_2 {
	margin-top: 20px;
	padding-left: 0;
	margin-left: -15px;
}
.additional_products_row_2 {
	display: none;
}
.nav.nav-tabs {
	border-bottom-color: rgb(102,102,102);
}
.nav.nav-tabs .active a {
	border-color: rgb(102,102,102) !important;
	border-bottom-color: transparent  !important;
	border-left-color: transparent  !important;
	border-radius: 0;
	padding-left: 55px;
	padding-right: 55px;
	color: rgb(72,61,69);
	margin-right: 0;
}
.nav.nav-tabs .active a:hover {
	border-color: rgb(102,102,102);
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.nav.nav-tabs a {
	background-color: rgb(67,61,61);
	color: #fff;
	border-radius: 0;
	padding-left: 55px;
	padding-right: 55px;
	margin-right: 0;
}
.nav.nav-tabs a:hover,
.nav.nav-tabs a:focus {
	background-color: rgb(67,61,61);
	color: #fff;
	border-color: rgb(67,61,61);
}

/*Question page-------------------------------------------------------*/
.well.one_question {
	background-color: #fff;
	box-shadow: none;
	border: none;
	padding: 0 0 0 25px;
	clear: both;
	float: none;
}
.well.one_question h2 {
	float: left;
	margin-top: 0;
	font-size: 30px;
}
.well.one_question h2:before {
	content: "- ";
}
.well.one_question span {
	font-size: 18px;
	padding-left: 20px;
	line-height: 30px;
}
.well.one_question span:hover {
	cursor: pointer;
}
.hidden_answer {
	display: block;
	clear: both;
	float: none;
	background-color: rgb(243,243,243); 
	border: 1px solid rgb(224,224,224);
	padding: 20px;
	margin-right: 25px;
	display: none;
}


/*tables----------------------------------------------*/
.tables_page_list {
	padding-right: 35px;
	color: rgb(86,67,61);
}
.tables_page_list h2 {
	font-family: MyriadSuperBold;
}
.tables_two_in_row {
	margin-top: 30px;
	position: relative;
}
.tables_two_in_row figure {
	margin-bottom: 20px;
	display: block;
	height: 170px;
	width: 100%;
}
.tables_two_in_row figure .table_image_wrapper {
	width: 50%;
	float: left;
}
.tables_two_in_row figure figcaption {
	width: 50%;
	float: right;
	font-size: 15px;
}
.tables_two_in_row figure figcaption h2 {
	font-weight: normal;
	font-size: 1.5em;
}
.tables_two_in_row figure figcaption p {
	line-height: 1.5em;
}
.tables_two_in_row figure figcaption strong {
	font-size: 1.5em;
	font-weight: bold;
}
.tables_two_in_row figure figcaption a {
	color: rgb(86,67,61);
}
.tables_two_in_row figure .label_pic {
	position: absolute;
	top: -15px;
	right: 15px;
}

/*Brands page---------------------------------------------------------*/

.brands_descr_page {
	padding: 10px 55px;
	text-align: justify;
}
.brands_descr_page article {
	margin-bottom: 80px;
}
.brands_descr_page p {
	margin-bottom: 7px;
}
.brands_descr_page strong {
	font-family: MyriadBold;

}
.brand_img_wrapper {
	width: 200px;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: justify;
	float: left;
}
.brand_img_wrapper img {
	width: 70%;
	display: block;
	margin: 10px auto 0;
}

/*Otzyvy page------------------------------------------------------*/
.page_otzyvy {
	padding: 10px 45px;
}
.well.row.one_opinion {
	background-color: #fff;
	box-shadow: none;
	border: none;
}
.one_opinion figure {
	width: 100%;
}
.img_otzyv_wrapper {
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.img_otzyv_wrapper img {
	height: 100%;
	display: block;
	margin: 0 auto;
}
.one_opinion figure figcaption {
	text-align: center;
}
.one_opinion figure figcaption h3 {
	font-family: MyriadRegular;
	font-size: 23px;
	margin: 5px;
}
.one_opinion figure figcaption time {
	font-size: 15px;
}
.well.row.one_opinion article {
	display: block;
	background-color: rgb(243,243,243);
	padding: 30px;
}
.well.row.one_opinion article:before {
	content: "";
	position: absolute;
	left: -25px;
	top: 35%;
	width: 40px;
	height: 40px;
	border: 20px solid transparent;
	border-right-color: rgb(243,243,243);
}
.opinion_adding {
	background-color: rgb(243,243,243);
	border: 1px solid rgb(224,224,224);
	padding: 20px;
	margin-top: 40px;
}
.opinion_inside_form {
	background-color: #fff;
	box-shadow: 0 0 10px #999;
	padding: 20px;
}
.opinion_adding h3 {
	text-transform: uppercase;
	font-family: MyriadLight;
}
.opinion_adding input {
	height: 45px;
}
.opinion_adding .btn {
	display: block;
	width: 70%;
	margin: 20px auto 10px;
	text-transform: uppercase;
	height: 53px;
	background-color: rgb(14,99,205);
	color: #fff;
	font-size: 17px;
	border: none;
	border-radius: 3px;
	font-family: MyriadBold;
}
.opinion_adding .btn:hover {
  background-color: rgb(22,60,123);
}


/*page products done----------------------------------------------------*/
.pdoducts_done_main_page {
	padding: 10px 45px;
}
.pdoducts_done_main_page .one_project figure {
	width: 100%;
	height: 280px;
}
.pdoducts_done_main_page .one_project a:hover {
	text-decoration: none;
}
.pdoducts_done_main_page .one_project a:hover h4 {
	text-decoration: underline;
}
.pdoducts_done_main_page .one_project figure figcaption {
	text-align: center;
	font-family: MyriadBold;
	font-size: 19px;
	color: rgb(82,82,82);
}
.pdoducts_done_main_page .one_project .img_wraper_products_done {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.pdoducts_done_main_page .one_project .img_wraper_products_done img {
	width: 100%;
}


/*one album page-----------------------------------------------*/
.album_page {
	padding: 10px 45px;
}
.album_page h1 {
	font-family: MyriadBold;
	font-size: 35px;
	margin-top: 40px;
}
.album_page .img_wrapper_album_pic {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.album_page .img_wrapper_album_pic img {
	width: 100%;
}
.album_inner_row {
	margin-top: 50px;
}


/*discounts page-----------------------------------------------*/
.discounts_row_kitchens figure {
	display: block;
	width: 80%;
	height: 300px;
	margin: 0 auto 30px;
	position: relative;
}
.discounts_row_kitchens figure h2 {
	margin-top: 10px;
}
.discounts_row_kitchens figure .discounts_image_wrapper {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.discounts_row_kitchens figure .discounts_image_wrapper img {
	width: 100%;
}
.discounts_row_kitchens figure .label_pic {
	position: absolute;
	top: -15px;
	right: -15px;
}
.discounts_row_kitchens figure a {
	color: inherit;
}



/*onsale page-----------------------------------------------*/
.onsale_row figure {
	display: block;
	width: 80%;
	height: 300px;
	margin: 0 auto 30px;
	position: relative;
}
.onsale_row figure h2 {
	margin-top: 10px;
}
.onsale_row figure .onsale_image_wrapper {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.onsale_row figure .onsale_image_wrapper img {
	width: 100%;
}
.onsale_row figure a {
	color: inherit;
}
/*footer -----------------------------------------------*/
footer {
	position: absolute;
	bottom: 0;
}
footer nav {
	margin-left: 115px;
}
footer ul li {
	list-style-type: none;
	width: 30%;
	float: left;
	text-decoration: underline;
	padding: 5px;
}
footer ul li a {
	color: rgb(82,82,82);
	font-size: 14px;
	transition: all 0.2s linear;
}
footer ul li a:hover,
footer ul li a:focus {
	color: rgb(11,11,11);
}
.footer_main_info {
	padding-bottom: 30px;
	padding-top: 15px;
	background-color: rgb(202,202,202);
	border-top: 1px solid rgb(150,150,150);
}
.our_logo {
	background-color: rgb(61,57,56);
	height: 40px;
}
.our_logo span {
	background: url('../img/intellectit.png') center left no-repeat;
	float: right;
	line-height: 40px;
	padding-left: 35px;
	padding-right: 30px;
}
.our_logo small {
	line-height: 40px;
	padding-right: 10px;
	font-size: 13px;
}
.our_logo p,
.our_logo p a {
	color: rgb(210,210,210);
	font-size: 15px;
}
footer .address {
	padding-top: 15px;
}
footer .address p {
	line-height: 1.6em;
}
footer .phones_block {
	padding-top: 10px;
}
footer .address p:first-child {
	font-size: 1em;
}
@media screen and (max-width: 769px) {
	footer nav {
		margin-left: 30px;
	}
}

/*modal window----------------------------------*/
.modal.fade {
	width: 70%;
	margin: 0 auto;
}
.modal.fade button {
	z-index: 7777;
}
.modal.fade .modal-dialog {
	width: 100%;
	margin: 0 auto;
}
.modal.fade .modal-content {
	overflow: hidden;
	width: 100%;
	margin: 50px auto;
	padding: 0;
}
.modal.fade .modal-content  img {
	width: 100%;
	height: 100%;
}
button.close {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #fff;
	opacity: 1;
}
 #map-container { height: 450px }

button.close {
 	color: #444;
 }

